body{
    background: aqua;
}
nav{
    
    float: right;
}
nav  ul li{
	display: inline-block;
	margin-right: auto;
}
nav ul li a{
	
	font-weight: bold;
}
h1{
	text-align: center;
	color: blue;
	padding-top: 50px;
}
h2{
	text-align: center;
    color: blue;
    text-decoration:underline;
	padding-top: 50px;
}
img{
    display: block;
    margin: auto;
    
    width: 217px;
    height: 322px;
    border-radius: 170px / 250px;
}
p{
    text-align: left;
    display: block;
    position: relative;
    left: 2%; 
    top: 30%;
    margin: auto;
    padding: auto;
    width: 670px;
    font-size: 95%;
    
}

em{
    font-weight: bold;
    font-size: 115%;
}
.bright{
    color:red;
}
a.spl-linka{
    text-decoration: none;
    color: white;
    background-color: rgba(131, 187, 185, 0.8);
}
.spl-linka{
    width: 50px;
    height: auto;
}
a.spl-linkb{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
}
.interesting{
    margin: auto;
    padding: auto;
    display: block;
    position: relative;
    left: 300px;
}
h3{
    margin: auto;
    padding: auto;

}
